!#include ".Xresources.d/base16-default.dark.xresources"
!#include ".Xresources.d/base16-default.light.xresources"
!#include ".Xresources.d/base16-tomorrow.dark.xresources"
!#include ".Xresources.d/base16-tomorrow.light.xresources"
#include ".Xresources.d/TomorrowNight.xresources"

! Urxvt Settings
URxvt.perl-lib: /Users/daniel/.config/urxvt-perls/
URxvt.perl-ext-common: keyboard-select,url-select,clipboard,tabbed
URxvt.loginShell: true

! Urxvt Common Settings
URxvt.scrollBar: false
!URxvt.termName: urxvt-256color

! Urxvt fonts
Urxvt.boldColors: on
!URxvt.font: xft:Inconsolata:size=12:antialias=true:hinting=true
!URxvt.font: xft:Inconsolata for Powerline:Size=11:antialias=true:hinting=true
!URxvt.font: xft:Deja Vu Sans Mono:size=12:antialias=true:hinting=true
!URxvt.font: xft:DejaVu Sans Mono for Powerline:regular:size=8:antialias=true:hinting=true
URxvt.font: xft:DejaVu Sans Mono for Powerline:regular:size=9:antialias=true:hinting=true

! Urxvt keyboard-select
URxvt.keysym.M-s: perl:keyboard-select:activate

! Urxvt url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: open
URxvt.url-select.underline: true

! Urxvt clipboard
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd:  pbcopy
URxvt.clipboard.pastecmd: pbpaste
